@import (less) './../../../styles/common.less';

@thickness: 1px;
@hover-border: #333;

.category {
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding: 24px;
}

.category-reversed {
    .category();
    flex-direction: row-reverse;
}

.c-title-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    flex: 1;

    .c-title {
        text-align: center;
        text-decoration: underline !important;
        text-decoration-thickness: 1px !important;
        &:hover { text-decoration: unset !important;}
        color: @black;
        font-family: @mainthin, @fontdefault;
        font-size: 48px;
    }

    .c-description {
        font-family: @mainregular, @fontdefault;
        font-size: 24px;
    }
}

.c-preview-container {
    width: 500px;
    flex: 1;
    display: flex;
    justify-content: center;
    &:hover {
        outline: 1px solid #c8c8c8;
    }
    padding: 8px;
    .c-preview {
        width: 100%;
    }
}

.c-button {
    width: 192px;
    height: 40px;
    border: 1px solid @black;
    justify-content: center;
    align-items: center;
    background-color: @black;
    opacity: 75%;
    &:hover { opacity: 100%; }
    cursor: pointer;
    span {
        font-size: 16px;
        font-family: @mainregular, @fontdefault;
        color: @white;
    }
}


@media (max-width: 750px) {
    .h-categories {
        width: 100% !important;
    }
    
    .category {
        flex-direction: column-reverse;
        padding: 8px;
        gap: 8px;
    }

    .category-reversed {
        flex-direction: column-reverse;
        padding: 8px;
        gap: 8px;
    }

    .c-title-container {
        padding: 0px;
        gap: 8px;
    }

    .c-preview-container {
        width: 100%;
        box-sizing: border-box;
        padding: 0px;
    }
}