@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
@font-face {
  font-family: 'centro-sans-pro-thin';
  src: url('/src/fonts/PFCentroSansPro-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-light';
  src: url('/src/fonts/PFCentroSansPro-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-regular';
  src: url('/src/fonts/PFCentroSansPro-Regular.woff2') format('woff2');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
.category {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding: 24px;
}
.category-reversed {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding: 24px;
  flex-direction: row-reverse;
}
.c-title-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.c-title-container .c-title {
  text-align: center;
  text-decoration: underline !important;
  text-decoration-thickness: 1px !important;
  color: #333333;
  font-family: 'centro-sans-pro-thin', sans-serif;
  font-size: 48px;
}
.c-title-container .c-title:hover {
  text-decoration: unset !important;
}
.c-title-container .c-description {
  font-family: 'centro-sans-pro-regular', sans-serif;
  font-size: 24px;
}
.c-preview-container {
  width: 500px;
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 8px;
}
.c-preview-container:hover {
  outline: 1px solid #c8c8c8;
}
.c-preview-container .c-preview {
  width: 100%;
}
.c-button {
  width: 192px;
  height: 40px;
  border: 1px solid #333333;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  opacity: 75%;
  cursor: pointer;
}
.c-button:hover {
  opacity: 100%;
}
.c-button span {
  font-size: 16px;
  font-family: 'centro-sans-pro-regular', sans-serif;
  color: #f7f7f7;
}
