@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
@font-face {
  font-family: 'centro-sans-pro-thin';
  src: url('/src/fonts/PFCentroSansPro-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-light';
  src: url('/src/fonts/PFCentroSansPro-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-regular';
  src: url('/src/fonts/PFCentroSansPro-Regular.woff2') format('woff2');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
.button-default {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  font-family: 'centro-sans-pro-light', sans-serif;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
}
.button-default-hover {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  font-family: 'centro-sans-pro-light', sans-serif;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
}
.button-default-hover:hover {
  opacity: 100%;
}
.button-default-underline-hover {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: 'centro-sans-pro-light', sans-serif;
}
.button-default-underline-hover:hover {
  opacity: 100%;
}
.button-default-underline-hover:hover {
  text-decoration: none;
}
.button-default-underline {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: 'centro-sans-pro-light', sans-serif;
}
.counter-button {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.counter-button span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.button-counter-default {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 75%;
}
.button-counter-default span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.button-counter-default:hover {
  opacity: 100%;
}
.button-counter-default-disabled {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  opacity: 50%;
  cursor: no-drop;
}
.button-counter-default-disabled span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.popup-default-x {
  top: 8px;
  right: 8px;
  position: absolute;
  cursor: pointer;
}
.popup-container-default {
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: fixed;
  width: 300px;
  background-color: #f7f7f7;
  border: 1px solid #333333;
  padding: 16px;
  gap: 16px;
}
.popup-header-default {
  font-family: 'centro-sans-pro-regular', sans-serif;
  font-size: 18px;
}
.popup-text-default {
  font-family: 'centro-sans-pro-regular', sans-serif;
  font-size: 18px;
}
.popup-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.modal-default {
  background-color: #33333366;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 750px) {
  html {
    width: 100vw !important;
  }
}
.category {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding: 24px;
}
.category-reversed {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding: 24px;
  flex-direction: row-reverse;
}
.c-title-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.c-title-container .c-title {
  text-align: center;
  text-decoration: underline !important;
  text-decoration-thickness: 1px !important;
  color: #333333;
  font-family: 'centro-sans-pro-thin', sans-serif;
  font-size: 48px;
}
.c-title-container .c-title:hover {
  text-decoration: unset !important;
}
.c-title-container .c-description {
  font-family: 'centro-sans-pro-regular', sans-serif;
  font-size: 24px;
}
.c-preview-container {
  width: 500px;
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 8px;
}
.c-preview-container:hover {
  outline: 1px solid #c8c8c8;
}
.c-preview-container .c-preview {
  width: 100%;
}
.c-button {
  width: 192px;
  height: 40px;
  border: 1px solid #333333;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  opacity: 75%;
  cursor: pointer;
}
.c-button:hover {
  opacity: 100%;
}
.c-button span {
  font-size: 16px;
  font-family: 'centro-sans-pro-regular', sans-serif;
  color: #f7f7f7;
}
@media (max-width: 750px) {
  .h-categories {
    width: 100% !important;
  }
  .category {
    flex-direction: column-reverse;
    padding: 8px;
    gap: 8px;
  }
  .category-reversed {
    flex-direction: column-reverse;
    padding: 8px;
    gap: 8px;
  }
  .c-title-container {
    padding: 0px;
    gap: 8px;
  }
  .c-preview-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
  }
}
