@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
@font-face {
  font-family: 'centro-sans-pro-thin';
  src: url('/src/fonts/PFCentroSansPro-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-light';
  src: url('/src/fonts/PFCentroSansPro-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-regular';
  src: url('/src/fonts/PFCentroSansPro-Regular.woff2') format('woff2');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
.button-default {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  font-family: 'centro-sans-pro-light', sans-serif;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
}
.button-default-hover {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  font-family: 'centro-sans-pro-light', sans-serif;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
}
.button-default-hover:hover {
  opacity: 100%;
}
.button-default-underline-hover {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: 'centro-sans-pro-light', sans-serif;
}
.button-default-underline-hover:hover {
  opacity: 100%;
}
.button-default-underline-hover:hover {
  text-decoration: none;
}
.button-default-underline {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: 'centro-sans-pro-light', sans-serif;
}
.counter-button {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.counter-button span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.button-counter-default {
  background-color: #333;
  width: 40px;
  height: 40px;
  flex: 1;
  border: none;
  background-color: #ffff;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 75%;
}
.button-counter-default span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.button-counter-default span {
  color: #333333;
  font-weight: 400;
  font-size: 24px;
}
.button-counter-default:hover {
  opacity: 100%;
}
.button-counter-default-disabled {
  background-color: #333;
  width: 40px;
  height: 40px;
  flex: 1;
  border: none;
  background-color: #ffff;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  opacity: 50%;
  cursor: no-drop;
}
.button-counter-default-disabled span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.button-counter-default-disabled span {
  color: #333333;
  font-weight: 400;
  font-size: 24px;
}
.popup-default-x {
  top: 8px;
  right: 8px;
  position: absolute;
  cursor: pointer;
}
.popup-container-default {
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: fixed;
  width: 300px;
  background-color: #f7f7f7;
  border: 1px solid #333333;
  padding: 16px;
  gap: 16px;
}
.popup-header-default {
  font-family: 'centro-sans-pro-regular', sans-serif;
  font-size: 18px;
}
.popup-text-default {
  font-family: 'centro-sans-pro-regular', sans-serif;
  font-size: 18px;
}
.popup-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.modal-default {
  background-color: #33333366;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 750px) {
  html {
    width: 100vw !important;
  }
}
.c-icon-container {
  display: flex;
  position: relative;
}
.c-icon-counter {
  width: 16px;
  height: 16px;
  text-align: center;
  align-self: center;
  background-color: white;
  border: 1px solid #333;
  position: absolute;
  left: 0px;
  bottom: 0px;
  font-family: 'centro-sans-pro-light', sans-serif;
}
.c-p {
  width: 400px;
  background-color: #f7f7f7;
  border: 1px solid #333333;
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 8px;
}
.c-p .c-p-title {
  font-family: 'centro-sans-pro-regular', sans-serif;
  color: #333333;
  text-align: center;
  font-size: 24px;
}
.c-p .c-p-products {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.c-p .c-p-product {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.c-p .c-p-product-preview-image {
  width: 40px;
  height: 40px;
  border: 1px solid #333333;
}
.c-p .c-p-product-title {
  font-family: 'centro-sans-pro-regular', sans-serif;
  color: #333333;
  font-size: 18px;
}
.c-p .c-p-product-price #price {
  font-family: 'centro-sans-pro-regular', sans-serif;
  color: #333333;
  font-size: 18px;
}
.c-p .c-p-product-price #currency {
  align-self: flex-end;
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 14px;
}
.c-p .c-p-checkout {
  cursor: pointer;
  padding: 4px 24px;
  width: min-content;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: 'centro-sans-pro-light', sans-serif;
  text-align: center;
  font-size: 18px;
  border: none;
  outline: 1px solid #ccc;
  opacity: 75%;
}
.c-p .c-p-checkout:hover {
  text-decoration: none;
  opacity: 100%;
}
.c-p .c-p-total {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.c-p .c-p-total .c-p-total-title {
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 18px;
}
.c-p .c-p-total .c-p-total-price #price {
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 24px;
}
.c-p .c-p-total .c-p-total-price #currency {
  align-self: flex-end;
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 16;
}
.c-p .c-p-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  opacity: 75%;
}
.c-p .c-p-close:hover {
  opacity: 100%;
}
.c-p .c-p-delete {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 75%;
}
.c-p .c-p-delete:hover {
  opacity: 100%;
}
.c-p-empty {
  font-family: 'centro-sans-pro-light';
  font-size: 18px;
}
.c-p-counter {
  display: flex;
  flex-direction: row;
  width: 96px;
  height: 24px;
  border: 1px solid #ccc;
}
.c-p-counter input {
  font-family: 'centro-sans-pro-thin', sans-serif;
  border: none;
  flex-grow: 1;
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: #333333;
}
.counter-button {
  flex: 1;
  border: none;
  background-color: #ffff;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}
.counter-button span {
  color: #333333;
  font-weight: 400;
  font-size: 24px;
}
.c-p-counter-button {
  background-color: #333;
  width: 40px;
  height: 40px;
  flex: 1;
  border: none;
  background-color: #ffff;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 75%;
}
.c-p-counter-button span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.c-p-counter-button span {
  color: #333333;
  font-weight: 400;
  font-size: 24px;
}
.c-p-counter-button:hover {
  opacity: 100%;
}
.c-p-counter-button-disabled {
  background-color: #333;
  width: 40px;
  height: 40px;
  flex: 1;
  border: none;
  background-color: #ffff;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  opacity: 50%;
  cursor: no-drop;
}
.c-p-counter-button-disabled span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.c-p-counter-button-disabled span {
  color: #333333;
  font-weight: 400;
  font-size: 24px;
}
.c-p-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
@media (max-width: 750px) {
  .c-p {
    width: 100%;
    padding: 8px;
  }
  .c-p-close {
    width: 24px !important;
    height: 24px !important;
  }
  .c-p-title {
    font-size: 32px !important;
  }
  .c-p-product-preview-image {
    display: none;
  }
  .c-p-product-title {
    font-size: 24px !important;
  }
  .c-p-product {
    gap: 8px !important;
  }
  .c-p-counter {
    height: 32px;
  }
  .c-p-counter-button {
    height: 32px;
    width: 32px;
  }
  .c-p-delete svg {
    width: 18px !important;
    height: 18px !important;
  }
}
