@import (less) './../../styles/common.less';
@import (css) './../../styles/fonts.css';

@thickness: 1px;
@hover-border: #333;

.header {
    top: 0px;
    left: 0px;

    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
    background-color: @white;
    display: flex;
    flex-direction: row;
    max-height: 64px;
    width: 100%;

    border-bottom: 1px solid #ccc;
}

.header-fixed {
    .header();
    position: fixed;
    z-index: 100;
    height: 64px;
}

.nav {
    width:100%;
    display: flex;
    justify-content: center;
}

.tab {
    padding: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    // transition: 0.3s;
    text-decoration: unset;

    span {
        opacity: 85%;
        font-family: @mainlight, @fontdefault;
        color: @black;
        font-size: 28px;
        &:hover {
            opacity: 100%;
        }
        // font-weight: 500;
    }

    svg { fill: @black; }


}

.tab-active {
    .tab();
    background-color: @black;
    position: relative;
    span {
        color: @white;
        opacity: 100%;
    }
    svg {
        fill: @white !important;
    }
}

.tab-title {
    // padding: 16px;
    // padding-right: 16px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.tab-inactive {
    .tab();
    // z-index: 120;
    box-sizing: border-box;
    position: relative;

    // &::before {
    //     content: '';
    //     box-sizing: border-box;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     height: 100%;
    //     width: 100%;
    //     transform-origin: center;
    // }

    // &::before {
    //     z-index: 10;
    //     border-bottom: @thickness solid @hover-border;
    //     transform: scale3d(0,1,1);
    // }

    // &:hover::before {
    //     transform: scale3d(1,1,1);
    //     transition: transform 0.3s;
    // }

    &:hover {
        // transform: scale3d(0,1,1);
        // transform: scale3d(0,1,1);
        border-bottom: 1px solid @black;
        margin-bottom: -1px;
        // transition: 0.3s;
    }
}

.brand {
    font-family: @mainlight, @fontdefault;
    // cursor: default;
    color: @black;
    text-decoration: none;
    align-self: center;
    font-size: 24px;
    text-wrap: nowrap;
    opacity: 85%;
    &:hover {
        opacity: 100%;
    }
}

.header-logo {
    display: flex;
    flex-direction: row;
    span {
        .brand();
    }
}

.header-btns {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.h-cart-button {
    width: 64px;
    height: 64px;
    justify-content: center;
    .pointer();

    background-color: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    // gap: 8px;
    border: none;

    opacity: 75%;
    &:hover { opacity: 100%; }
}