@import (less) './../../styles/common.less';
@import (less) './../../styles/fonts.less';

@breelight: 'bree-light';

.header {
    margin-left: 24px;
    margin-right: 24px;
    background-color: @white;
    display: flex;
    flex-direction: row;
    // height: 80px;
}

.nav {
    background-color: @white;
    width:100%;
    display: flex;
    justify-content: center;
}

.tab {
    display: flex;
    align-items: center;
    padding: 24px;
    transition: 0.3s;
    text-decoration: unset;
    span {
        font-family: @breelight, sans-serif;
        color: @black;
        font-size: 28px;
    }
}

.tab-active {
    .tab();
    background-color: @black;
    span {
        color: @white;
    }
}

.tab-inactive {
    .tab();
}

.tab-inactive:hover {
    background-color: @light-green;
}

.brand {
    font-family: @breelight, sans-serif;
    cursor: default;
    color: @black;
    align-self: center;
    font-size: 32px;
}

.header-logo {
    display: flex;
    flex-direction: row;
    span {
        .brand();
    }
}

.header-btns {
    display: flex;
    flex-direction: row;
    gap: 12px;
}