body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
.pointer {
  cursor: pointer;
}
.button {
  width: 64px;
  height: 64px;
  justify-content: center;
  cursor: pointer;
  background-color: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: none;
}
.button span {
  font-weight: 600;
}
.button-hover {
  width: 64px;
  height: 64px;
  justify-content: center;
  cursor: pointer;
  background-color: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: none;
}
.button-hover span {
  font-weight: 600;
}
.button-hover:hover svg {
  transition: 0.3s;
  fill: #333 !important;
}
.login-button {
  width: 64px;
  height: 64px;
  justify-content: center;
  cursor: pointer;
  background-color: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 100px;
}
.login-button span {
  font-weight: 600;
}
.login-button:hover svg {
  transition: 0.3s;
  fill: #333 !important;
}
.login-button-logged {
  width: 64px;
  height: 64px;
  justify-content: center;
  cursor: pointer;
  background-color: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 100px;
  background-color: unset !important;
  border: 2px solid #8e8e8e;
}
.login-button-logged span {
  font-weight: 600;
}
.login-button-logged:hover {
  border: 2px solid #333333;
  transition: 0.3s;
}
.login-button-logged:hover svg {
  transition: 0.3s;
  fill: #333 !important;
}
.button-container {
  display: flex;
  align-items: center;
}
