body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
.footer {
  background-color: #333333;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 64px;
  padding: 24px;
}
.footer span {
  color: #f7f7f7;
}
.logo {
  align-self: flex-start;
  height: 64px;
  width: 64px;
}
.footer-sections {
  justify-content: center;
  display: flex;
  flex-direction: row;
  column-gap: 72px;
}
.brand {
  font-family: 'bree-light', sans-serif;
  cursor: default;
  color: #f7f7f7;
  letter-spacing: 4px;
  align-self: center;
  font-size: 32px;
}
.brand-footer {
  font-family: 'bree-thin', sans-serif;
  cursor: default;
  color: #f7f7f7;
  letter-spacing: 4px;
  align-self: center;
  font-size: 64px;
}
.footer-logo {
  align-self: center;
  display: flex;
  flex-direction: row;
}
.footer-logo img {
  align-self: flex-start;
  height: 64px;
  width: 64px;
}
.footer-logo span {
  font-family: 'bree-light', sans-serif;
  cursor: default;
  color: #f7f7f7;
  letter-spacing: 4px;
  align-self: center;
  font-size: 32px;
}
.footer-section {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.footer-section-title {
  font-family: 'bree-light', sans-serif;
  padding-bottom: 8px;
  font-size: 36px;
  cursor: default;
}
.footer-section-item {
  font-family: 'bree-light', sans-serif;
  font-size: 24px;
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}
