@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
@font-face {
  font-family: 'centro-sans-pro-thin';
  src: url('/src/fonts/PFCentroSansPro-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-light';
  src: url('/src/fonts/PFCentroSansPro-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-regular';
  src: url('/src/fonts/PFCentroSansPro-Regular.woff2') format('woff2');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
@media (max-width: 750px) {
  html {
    width: 100vw !important;
  }
}
.footer {
  border-top: 1px solid #ccc;
  background-color: #f7f7f7;
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
  padding: 24px;
  box-sizing: border-box;
  bottom: 0px;
}
.footer span {
  color: #333333;
}
.f-section {
  flex: 3;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.f-section-left {
  flex: 3;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: end;
}
.f-section-right {
  flex: 3;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: start;
}
.f-link {
  font-family: 'centro-sans-pro-light';
  font-size: 24px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: #333333;
  opacity: 85%;
}
.f-link:hover {
  opacity: 100%;
  text-decoration: none;
}
.f-brand-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.f-brand-link {
  font-family: 'centro-sans-pro-thin';
  font-size: 48px;
  text-decoration: none;
  color: #333333;
  opacity: 85%;
  text-wrap: nowrap;
}
.f-brand-link:hover {
  opacity: 100%;
}
@media (max-width: 750px) {
  .footer {
    gap: 8px;
    padding: 8px;
  }
  .f-brand-container {
    display: none;
  }
  .f-section-left,
  .f-section-right {
    flex-direction: column;
  }
  .f-section-right .f-link {
    text-align: right;
  }
}
