@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
@font-face {
  font-family: 'centro-sans-pro-thin';
  src: url('/src/fonts/PFCentroSansPro-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-light';
  src: url('/src/fonts/PFCentroSansPro-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-regular';
  src: url('/src/fonts/PFCentroSansPro-Regular.woff2') format('woff2');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
.button-default {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  font-family: 'centro-sans-pro-light', sans-serif;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
}
.button-default-hover {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  font-family: 'centro-sans-pro-light', sans-serif;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
}
.button-default-hover:hover {
  opacity: 100%;
}
.button-default-underline-hover {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: 'centro-sans-pro-light', sans-serif;
}
.button-default-underline-hover:hover {
  opacity: 100%;
}
.button-default-underline-hover:hover {
  text-decoration: none;
}
.button-default-underline {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: 'centro-sans-pro-light', sans-serif;
}
.counter-button {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.counter-button span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.button-counter-default {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 75%;
}
.button-counter-default span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.button-counter-default:hover {
  opacity: 100%;
}
.button-counter-default-disabled {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  opacity: 50%;
  cursor: no-drop;
}
.button-counter-default-disabled span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.popup-default-x {
  top: 8px;
  right: 8px;
  position: absolute;
  cursor: pointer;
}
.popup-container-default {
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: fixed;
  width: 300px;
  background-color: #f7f7f7;
  border: 1px solid #333333;
  padding: 16px;
  gap: 16px;
}
.popup-header-default {
  font-family: 'centro-sans-pro-regular', sans-serif;
  font-size: 18px;
}
.popup-text-default {
  font-family: 'centro-sans-pro-regular', sans-serif;
  font-size: 18px;
}
.popup-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.modal-default {
  background-color: #33333366;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 750px) {
  html {
    width: 100vw !important;
  }
}
.footer {
  border-top: 1px solid #ccc;
  background-color: #f7f7f7;
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
  padding: 24px;
  box-sizing: border-box;
  bottom: 0px;
}
.footer span {
  color: #333333;
}
.f-section {
  flex: 3;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.f-section-left {
  flex: 3;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: end;
}
.f-section-right {
  flex: 3;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: start;
}
.f-link {
  font-family: 'centro-sans-pro-light';
  font-size: 24px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: #333333;
  opacity: 85%;
}
.f-link:hover {
  opacity: 100%;
  text-decoration: none;
}
.f-brand-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.f-brand-link {
  font-family: 'centro-sans-pro-thin', sans-serif;
  font-size: 48px;
  text-decoration: none;
  color: #333333;
  opacity: 85%;
  text-wrap: nowrap;
}
.f-brand-link:hover {
  opacity: 100%;
}
@media (max-width: 750px) {
  .footer {
    gap: 8px;
    padding: 8px;
  }
  .f-brand-container {
    display: none;
  }
  .f-section-left,
  .f-section-right {
    flex-direction: column;
  }
  .f-section-right .f-link {
    text-align: right;
  }
}
