html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers 
	*/ 
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}

@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
.pointer {
  cursor: pointer;
}
.button {
  width: 64px;
  height: 64px;
  justify-content: center;
  cursor: pointer;
  background-color: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: none;
}
.button span {
  font-weight: 600;
}
.button-hover {
  width: 64px;
  height: 64px;
  justify-content: center;
  cursor: pointer;
  background-color: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: none;
}
.button-hover span {
  font-weight: 600;
}
.button-hover:hover svg {
  transition: 0.3s;
  fill: #333 !important;
}
.login-button {
  width: 64px;
  height: 64px;
  justify-content: center;
  cursor: pointer;
  background-color: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 100px;
}
.login-button span {
  font-weight: 600;
}
.login-button:hover svg {
  transition: 0.3s;
  fill: #333 !important;
}
.login-button-logged {
  width: 64px;
  height: 64px;
  justify-content: center;
  cursor: pointer;
  background-color: unset;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 100px;
  background-color: unset !important;
  border: 2px solid #8e8e8e;
}
.login-button-logged span {
  font-weight: 600;
}
.login-button-logged:hover {
  border: 2px solid #333333;
  transition: 0.3s;
}
.login-button-logged:hover svg {
  transition: 0.3s;
  fill: #333 !important;
}
.button-container {
  display: flex;
  align-items: center;
}

@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
.categories-title {
  font-family: 'bree-thin';
  width: min-content;
  display: flex;
  justify-content: center;
  font-size: 36px;
}
.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories-list {
  margin: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}
.category {
  height: 350px;
  width: 300px;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  padding: 8px;
}
.category::before,
.category::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}
.category::before {
  z-index: 10;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  transform: scale3d(0, 1, 1);
}
.category::after {
  z-index: 10;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  transform: scale3d(1, 0, 1);
}
.category:hover::before,
.category:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s;
}
.category-preview {
  width: 100%;
}
.category-container {
  display: flex;
  text-align: center;
  box-sizing: border-box;
  flex-direction: column;
  background-color: #f7f7f7;
  width: 100%;
  padding: 8px;
  bottom: 0px;
  gap: 8px;
}
.category-title {
  font-family: 'bree-thin';
  color: #333333;
  font-size: 28px;
}

.flipper {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.flipper-left {
  justify-content: left;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.flipper-right {
  position: absolute;
  right: 0px;
  justify-content: right;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.flipper-left:hover {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 212, 255, 0) 100%);
  transition: background 0.5s;
}
.flipper-right:hover {
  background: linear-gradient(90deg, rgba(0, 212, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
  transition: background 0.5s;
}
.arrow {
  cursor: pointer;
}
.arrow-hover {
  cursor: pointer;
}

@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}

@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
.footer {
  background-color: #333333;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 64px;
  padding: 24px;
}
.footer span {
  color: #f7f7f7;
}
.logo {
  align-self: flex-start;
  height: 64px;
  width: 64px;
}
.footer-sections {
  justify-content: center;
  display: flex;
  flex-direction: row;
  column-gap: 72px;
}
.brand {
  font-family: 'bree-light', sans-serif;
  cursor: default;
  color: #f7f7f7;
  letter-spacing: 4px;
  align-self: center;
  font-size: 32px;
}
.brand-footer {
  font-family: 'bree-thin', sans-serif;
  cursor: default;
  color: #f7f7f7;
  letter-spacing: 4px;
  align-self: center;
  font-size: 64px;
}
.footer-logo {
  align-self: center;
  display: flex;
  flex-direction: row;
}
.footer-logo img {
  align-self: flex-start;
  height: 64px;
  width: 64px;
}
.footer-logo span {
  font-family: 'bree-light', sans-serif;
  cursor: default;
  color: #f7f7f7;
  letter-spacing: 4px;
  align-self: center;
  font-size: 32px;
}
.footer-section {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.footer-section-title {
  font-family: 'bree-light', sans-serif;
  padding-bottom: 8px;
  font-size: 36px;
  cursor: default;
}
.footer-section-item {
  font-family: 'bree-light', sans-serif;
  font-size: 24px;
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}

@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
.header {
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  max-height: 100px;
  width: 100%;
}
.header-fixed {
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  max-height: 100px;
  width: 100%;
  position: fixed;
  z-index: 100;
  height: 64px;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.tab {
  display: flex;
  align-items: center;
  padding: 24px;
  transition: 0.3s;
  text-decoration: unset;
}
.tab span {
  font-family: 'bree-light', sans-serif;
  color: #333333;
  font-size: 28px;
}
.tab-active {
  display: flex;
  align-items: center;
  padding: 24px;
  transition: 0.3s;
  text-decoration: unset;
  background-color: #333333;
}
.tab-active span {
  font-family: 'bree-light', sans-serif;
  color: #333333;
  font-size: 28px;
}
.tab-active span {
  color: #f7f7f7;
}
.tab-inactive {
  display: flex;
  align-items: center;
  padding: 24px;
  transition: 0.3s;
  text-decoration: unset;
  box-sizing: border-box;
  position: relative;
}
.tab-inactive span {
  font-family: 'bree-light', sans-serif;
  color: #333333;
  font-size: 28px;
}
.tab-inactive::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}
.tab-inactive::before {
  z-index: 10;
  border-bottom: 1px solid #333;
  transform: scale3d(0, 1, 1);
}
.tab-inactive:hover::before {
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s;
}
.brand {
  font-family: 'bree-light', sans-serif;
  cursor: default;
  color: #333333;
  align-self: center;
  font-size: 32px;
}
.header-logo {
  display: flex;
  flex-direction: row;
}
.header-logo span {
  font-family: 'bree-light', sans-serif;
  cursor: default;
  color: #333333;
  align-self: center;
  font-size: 32px;
}
.header-btns {
  display: flex;
  flex-direction: row;
  gap: 12px;
}


@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
.quick-buy-window {
  width: 50%;
  min-height: 50%;
  max-height: 85%;
  background-color: #f7f7f7;
  align-self: center;
  box-sizing: border-box;
  padding: 24px;
  border: 1px solid #333333;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.quick-buy-item-title {
  text-align: left;
  font-family: 'bree-light';
  color: #333333;
  font-size: 24px;
}
.quick-buy-body {
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.quick-buy-image-container {
  flex: 1;
  height: 100%;
}
.quick-buy-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.quick-buy-item-descr {
  flex: 1;
}
.quick-buy-item-descr span {
  text-align: left;
  font-family: 'bree-light';
  color: #333333;
  font-size: 18px;
}
.quick-buy-footer {
  width: 100%;
  align-items: end;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
  border-top: 1px solid #333333;
  padding-top: 8px;
}
.quick-buy-footer button {
  cursor: pointer;
  flex: 1;
  width: 1fr;
  background-color: #333333;
  opacity: 85%;
  padding: 8px;
  border: none;
}
.quick-buy-footer button span {
  text-align: left;
  font-family: 'bree-light';
  color: #f7f7f7;
  font-size: 24px;
}
.quick-buy-footer button:hover {
  opacity: 100%;
  transition: 0.3s;
}
.span-link {
  text-align: left;
  font-family: 'bree-light';
  color: #333333;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
}
.quick-buy-item-price-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.quick-buy-item-price-container div {
  flex: 1;
}

@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding: 24px;
  width: 75%;
}
.item {
  height: 300px;
  width: 300px;
  cursor: pointer;
  padding: 8px;
  box-sizing: border-box;
  position: relative;
}
.item::before,
.item::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}
.item::before {
  z-index: 10;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  transform: scale3d(0, 1, 1);
}
.item::after {
  z-index: 10;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  transform: scale3d(1, 0, 1);
}
.item:hover::before,
.item:hover::after {
  z-index: -1;
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s;
}
.item:hover .item-heart,
.item:hover .item-bag,
.item:hover .item-info-container,
.item:hover .item-preview-buttons {
  transition: 0.3s;
  opacity: 85%;
}
.item-image {
  width: 100%;
}
.item-info-container {
  opacity: 0%;
  background-color: #f7f7f7;
  position: absolute;
  width: 100%;
  display: flex;
  left: 0;
  text-align: center;
  box-sizing: border-box;
  flex-direction: row;
  padding: 8px;
  bottom: 0px;
  gap: 8px;
}
.item-title {
  flex: 1;
  text-align: left;
  font-family: 'bree-light';
  color: #333333;
  font-size: 24px;
}
.item-price-container {
  align-self: self-end;
}
.item-price {
  font-family: 'bree-light';
  color: #333333;
  font-size: 28px;
  font-weight: 600;
}
.item-price-currency {
  align-self: flex-end;
  font-family: 'bree-light';
  color: #333333;
  font-size: 28px;
}
.item-heart {
  opacity: 0%;
  fill: #f7f7f7;
}
.item-heart:hover {
  fill: red;
}
.item-bag {
  opacity: 0%;
  fill: #f7f7f7;
}
.item-bag:hover {
  fill: yellow;
}
.item-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 16px;
  top: 16px;
  z-index: 20;
  gap: 8px;
}
.item-preview-buttons {
  opacity: 0%;
  z-index: 20;
}
.item-quick-buy-button {
  cursor: pointer;
  position: absolute;
  left: 8px;
  top: 8px;
  background-color: #333333;
  border: none;
}
.item-quick-buy-button span {
  font-family: 'bree-light';
  color: #f7f7f7;
  font-size: 18px;
}
.item-quick-buy-button:hover {
  opacity: 100%;
}

@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
.modal {
  background-color: #33333344;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
.offers {
  background-color: #f7f7f7;
  margin: 24px;
}
.offers-list {
  position: relative;
  align-items: center;
  height: 400px;
  width: auto;
  background-color: #a6b8ae;
  display: flex;
}
.offer {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #a6b8ae;
  display: flex;
  flex-direction: row;
}
.offer img {
  height: 100%;
}
.offer-title-container {
  margin: 64px;
  flex-grow: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}
.offer-title-header-container {
  display: flex;
  justify-content: center;
}
.offer-title {
  font-family: bree-thin, sans-serif;
  color: #f7f7f7;
  font-size: 32px;
}
