@import (less) './fonts.css';

@dark-green: #416e54;
@green: #5d846e;
@light-green: #D6DCD9;
@moody-green: #a6b8ae;
@white: #f7f7f7;
@black: #333333;
@grey: #c8c8c8;
@red: red;

@mainlight: 'centro-sans-pro-light';
@mainthin: 'centro-sans-pro-thin';
@mainregular: 'centro-sans-pro-regular';
@fontdefault: sans-serif;

body {
    background: @white;
}

.semibold {
    span {
        font-weight: 600;
    }
}

.pointer {
    cursor: pointer;
}

html {
    scrollbar-width: none !important;
}

@media (max-width: 750px) {
    html {
        width: 100vw !important;
    }
}