@dark-green: #173f28;
@green: #426551;
@green-lighter: #5c7e6a;
@light-green: #D6DCD9;
@white: #f7f7f7;
@black: #333333;

.semibold {
    span {
        font-weight: 600;
    }
}

.pointer {
    cursor: pointer;
}