@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
@font-face {
  font-family: 'centro-sans-pro-thin';
  src: url('/src/fonts/PFCentroSansPro-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-light';
  src: url('/src/fonts/PFCentroSansPro-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-regular';
  src: url('/src/fonts/PFCentroSansPro-Regular.woff2') format('woff2');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
@media (max-width: 750px) {
  html {
    width: 100vw !important;
  }
}
.item-page {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  padding: 24px;
}
.i-p-preview-container {
  max-width: 500px;
  flex: 1;
  border: 1px solid #c8c8c8;
}
.i-p-preview {
  box-sizing: border-box;
  width: 100%;
  padding: 24px;
  max-width: 500px;
}
.i-p-info-container {
  max-width: 500px;
  flex: 1;
}
.i-p-info {
  flex: 1;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #c8c8c8;
  padding: 24px;
  background-color: #f7f7f7;
}
.i-p-category-link {
  font-family: 'centro-sans-pro-regular', sans-serif;
  color: #333333;
  text-decoration: underline;
}
.i-p-category-link:hover {
  text-decoration: none;
}
.item-page-title-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.item-page-brand {
  font-family: 'centro-sans-pro-thin', sans-serif;
  font-size: 16px;
}
.item-page-title {
  font-family: 'centro-sans-pro-light', sans-serif;
  font-size: 48px;
}
.i-p-price #price {
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 32px;
}
.i-p-price #currency {
  align-self: flex-end;
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 24px;
}
.i-p-price-total #price {
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 32px;
}
.i-p-price-total #currency {
  align-self: flex-end;
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 24px;
}
.i-p-price-total #price {
  font-size: 24px;
}
.i-p-price-total #currency {
  font-size: 16px;
}
.i-p-button {
  width: 146px;
  height: 40px;
  border: 1px solid #333;
  justify-content: center;
  align-items: center;
  background-color: #333;
  opacity: 75%;
  cursor: pointer;
}
.i-p-button span {
  font-size: 16px;
  font-family: 'centro-sans-pro-regular', sans-serif;
  color: #f7f7f7;
}
.item-page-button {
  width: 146px;
  height: 40px;
  border: 1px solid #333;
  justify-content: center;
  align-items: center;
  background-color: #333;
  opacity: 75%;
  cursor: pointer;
}
.item-page-button span {
  font-size: 16px;
  font-family: 'centro-sans-pro-regular', sans-serif;
  color: #f7f7f7;
}
.item-page-button:hover {
  opacity: 100%;
}
.item-page-button-disabled {
  width: 146px;
  height: 40px;
  border: 1px solid #333;
  justify-content: center;
  align-items: center;
  background-color: #333;
  opacity: 75%;
  cursor: pointer;
  opacity: 50%;
  cursor: no-drop;
}
.item-page-button-disabled span {
  font-size: 16px;
  font-family: 'centro-sans-pro-regular', sans-serif;
  color: #f7f7f7;
}
.item-page-description {
  text-align: left;
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 24px;
}
.item-page-shipment-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.item-page-shipment-link {
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 18px;
  text-decoration-thickness: 1px;
}
.item-page-shipment-link:hover {
  text-decoration: solid !important;
}
.item-page-shipment-info {
  font-size: 18px;
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
}
.i-p-counter-data {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}
.i-p-counter-info {
  font-size: 18px;
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
}
.item-page-counter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.item-page-action-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.i-p-counter {
  display: flex;
  flex-direction: row;
  width: 144px;
  height: 40px;
  border: 1px solid #333;
}
.i-p-counter input {
  font-family: 'centro-sans-pro-light', sans-serif;
  border: none;
  flex-grow: 1;
  width: 100%;
  font-size: 28px;
  text-align: center;
  color: #333333;
}
.counter-button {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.counter-button span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.i-p-counter-button {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 75%;
}
.i-p-counter-button span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.i-p-counter-button:hover {
  opacity: 100%;
}
.i-p-counter-button-disabled {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  opacity: 50%;
  cursor: no-drop;
}
.i-p-counter-button-disabled span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
@media (max-width: 750px) {
  .item-page {
    gap: 8px;
    padding: 8px;
    flex-direction: column;
  }
  .i-p-preview {
    padding: 8px;
  }
  .i-p-info {
    padding: 8px;
  }
  .item-page-title {
    text-align: center;
  }
  .item-page-shipment-link,
  .item-page-shipment-info {
    font-size: 24px;
  }
}
