body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
@media (max-width: 750px) {
  html {
    width: 100vw !important;
  }
}
.shop {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
}
.shop > div:not(:first-child) {
  border-top: 1px solid #c8c8c8;
}
.shop-category-products {
  width: -webkit-fill-available;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s-c-p-title {
  font-family: 'centro-sans-pro-regular', sans-serif;
  font-size: 40px;
  text-align: center;
  color: #333333;
}
@media (max-width: 750px) {
  .shop {
    padding: 8px;
  }
  .shop-category-products {
    padding: 8px;
  }
}
