@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
@font-face {
  font-family: 'centro-sans-pro-thin';
  src: url('/src/fonts/PFCentroSansPro-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-light';
  src: url('/src/fonts/PFCentroSansPro-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-regular';
  src: url('/src/fonts/PFCentroSansPro-Regular.woff2') format('woff2');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
.items {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}
.item {
  height: 300px;
  width: 300px;
  cursor: pointer;
  padding: 8px;
  box-sizing: border-box;
  position: relative;
}
.item::before,
.item::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}
.item::before {
  z-index: 10;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  transform: scale3d(0, 1, 1);
}
.item::after {
  z-index: 10;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  transform: scale3d(1, 0, 1);
}
.item:hover::before,
.item:hover::after {
  z-index: -1;
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s;
}
.item:hover .item-heart,
.item:hover .item-bag,
.item:hover .item-info-container,
.item:hover .item-preview-buttons {
  transition: 0.3s;
  opacity: 85%;
}
.item-image {
  width: 100%;
}
.item-info-container {
  opacity: 0%;
  background-color: #f7f7f7;
  position: absolute;
  width: 100%;
  display: flex;
  left: 0;
  text-align: center;
  box-sizing: border-box;
  flex-direction: row;
  padding: 16px;
  padding-top: 8px;
  bottom: 0px;
  gap: 8px;
}
.item-title {
  flex: 1;
  text-align: left;
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 24px;
}
.item-price-container {
  align-self: self-end;
}
.item-price {
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 28px;
  font-weight: 600;
}
.item-price-currency {
  align-self: flex-end;
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 28px;
}
.item-heart {
  opacity: 0%;
  fill: #f7f7f7;
}
.item-heart:hover {
  fill: red;
}
.item-bag {
  opacity: 0%;
  fill: #f7f7f7;
}
.item-bag:hover {
  fill: yellow;
}
.item-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 16px;
  top: 16px;
  z-index: 20;
  gap: 8px;
}
.item-preview-buttons {
  opacity: 0%;
  z-index: 20;
}
.item-quick-buy-button {
  cursor: pointer;
  position: absolute;
  left: 8px;
  top: 8px;
  background-color: #333333;
  border: none;
}
.item-quick-buy-button span {
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #f7f7f7;
  font-size: 18px;
}
.item-quick-buy-button:hover {
  opacity: 100%;
}
