@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
@font-face {
  font-family: 'centro-sans-pro-thin';
  src: url('/src/fonts/PFCentroSansPro-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-light';
  src: url('/src/fonts/PFCentroSansPro-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-regular';
  src: url('/src/fonts/PFCentroSansPro-Regular.woff2') format('woff2');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
.button-default {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  font-family: 'centro-sans-pro-light', sans-serif;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
}
.button-default-hover {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  font-family: 'centro-sans-pro-light', sans-serif;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
}
.button-default-hover:hover {
  opacity: 100%;
}
.button-default-underline-hover {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: 'centro-sans-pro-light', sans-serif;
}
.button-default-underline-hover:hover {
  opacity: 100%;
}
.button-default-underline-hover:hover {
  text-decoration: none;
}
.button-default-underline {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: 'centro-sans-pro-light', sans-serif;
}
.counter-button {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.counter-button span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.button-counter-default {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 75%;
}
.button-counter-default span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.button-counter-default:hover {
  opacity: 100%;
}
.button-counter-default-disabled {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  opacity: 50%;
  cursor: no-drop;
}
.button-counter-default-disabled span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.popup-default-x {
  top: 8px;
  right: 8px;
  position: absolute;
  cursor: pointer;
}
.popup-container-default {
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: fixed;
  width: 300px;
  background-color: #f7f7f7;
  border: 1px solid #333333;
  padding: 16px;
  gap: 16px;
}
.popup-header-default {
  font-family: 'centro-sans-pro-regular', sans-serif;
  font-size: 18px;
}
.popup-text-default {
  font-family: 'centro-sans-pro-regular', sans-serif;
  font-size: 18px;
}
.popup-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.modal-default {
  background-color: #33333366;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 750px) {
  html {
    width: 100vw !important;
  }
}
.items {
  padding: 24px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1400px;
  height: max-content;
  align-content: start;
}
.item {
  width: 300px;
  z-index: 10;
  height: min-content;
  box-sizing: border-box;
}
.item:hover {
  z-index: 11;
}
.item:hover .i-info {
  border: 1px solid #333333;
  border-bottom: 1px solid #ffffff00;
}
.item:hover .i-controls {
  border-top: none;
  display: flex !important;
  gap: 8px;
}
.i-info {
  cursor: pointer;
  padding: 8px;
  z-index: 10;
  height: min-content;
  box-sizing: border-box;
  border: 1px solid #c8c8c8;
}
.i-controls {
  border: 1px solid #333333;
  box-sizing: border-box;
  padding: 8px;
  background-color: white;
  width: 300px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  display: none;
}
.i-c-category-link {
  font-family: 'centro-sans-pro-regular', sans-serif;
  color: #333333;
  text-decoration: underline;
}
.i-c-category-link:hover {
  text-decoration: none;
}
.i-c-info {
  font-family: 'centro-sans-pro-light', sans-serif;
}
.item-image {
  width: 100%;
}
.i-i-container {
  width: 100%;
  display: flex;
  align-items: start;
  box-sizing: border-box;
  flex-direction: row;
  gap: 8px;
}
.i-c-button {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: 'centro-sans-pro-light', sans-serif;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
}
.i-c-button:hover {
  text-decoration: none;
  opacity: 100%;
}
.item-title {
  flex: 1;
  text-align: left;
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 24px;
}
.item-price-container {
  align-self: self-end;
}
.item-price {
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 28px;
  font-weight: 600;
}
.item-price-currency {
  align-self: flex-end;
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 24px;
}
.item-heart {
  opacity: 0%;
  fill: #f7f7f7;
}
.item-heart:hover {
  fill: red;
}
.item-bag {
  opacity: 0%;
  fill: #f7f7f7;
}
.item-bag:hover {
  fill: yellow;
}
.item-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 16px;
  top: 16px;
  z-index: 20;
  gap: 8px;
}
.item-preview-buttons {
  opacity: 0%;
  z-index: 20;
}
.item-quick-buy-button {
  cursor: pointer;
  position: absolute;
  left: 8px;
  top: 8px;
  background-color: #333333;
  border: none;
}
.item-quick-buy-button span {
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #f7f7f7;
  font-size: 18px;
}
.item-quick-buy-button:hover {
  opacity: 100%;
}
@media (max-width: 750px) {
  .items {
    gap: 8px;
    padding: 8px;
  }
}
