// @import (less) './../../../styles/fonts.less';
@import (less) './../../../styles/common.less';

@thickness: 1px;
@hover-border: @black;

.items {
    padding: 24px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    // padding: 24px;
    // width: 100%;
    height: max-content;
}

.item {
    width: 300px;
    z-index: 10;
    height: min-content;
    box-sizing: border-box;
    &:hover {
        .i-info {
            border: 1px solid @black;
            border-bottom: 1px solid #ffffff00;
        }
        .i-controls {
            border-top: none;
            display: flex !important;
            gap: 8px;
        }
    }
}

.i-info {
    // cursor: pointer;
    padding: 8px;
    z-index: 10;
    height: min-content;
    box-sizing: border-box;
    border: 1px solid @grey;
}

.i-controls {
    border: 1px solid @black;
    box-sizing: border-box;
    padding: 8px;
    background-color: white;
    width: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    display: none;
}

.i-c-category-link {
    font-family: @mainregular, @fontdefault;
    color: @black;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.i-c-info {
    font-family: @mainlight, @fontdefault;
}

.item-image {
    width: 100%;
    // height: 100%;
}

.i-i-container {
    width: 100%;

    display: flex;
    align-items: start;
    box-sizing: border-box;
    flex-direction: row;
    gap: 8px;
}

.i-c-button {
    .pointer();
    padding: 4px 24px;
    // width: 144px;
    align-self: center;
    color: @white;
    background-color: @black;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-family: @mainlight, @fontdefault;
    text-align: center;
    font-size: 18px;
    outline: 1px solid #ccc;
    border: none;
    opacity: 75%;

    &:hover {
        text-decoration: none;
        opacity: 100%;
    }
}

.item-title {
    flex: 1;
    text-align: left;
    font-family: @mainlight, @fontdefault;
    color: @black;
    font-size: 24px;
}

.item-price-container {
    align-self: self-end;
}

.item-price {
    font-family: @mainlight, @fontdefault;
    color: @black;
    font-size: 28px;
    font-weight: 600;
}

.item-price-currency {
    align-self:flex-end;
    font-family: @mainlight, @fontdefault;
    color: @black;
    font-size: 24px;
}

.item-heart {
    opacity: 0%;
    fill: @white;
    &:hover {
        fill: red;
    }
}

.item-bag {
    opacity: 0%;
    fill: @white;
    &:hover {
        fill: yellow;
    }
}

.item-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 16px;
    top: 16px;
    z-index: 20;
    gap: 8px;
}

.item-preview-buttons {
    opacity: 0%;
    z-index: 20;
}

.item-quick-buy-button {
    cursor: pointer;
    position: absolute;
    left: 8px;
    top: 8px;
    background-color: @black;
    border: none;
    span {
        font-family: @mainlight, @fontdefault;
        color: @white;
        font-size: 18px;
    }

    &:hover {
        opacity: 100%;
        // background-color: red;
    }
}

@media (max-width: 750px) {
    .items {
        gap: 8px;
        padding: 8px;
    }
}