@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding: 24px;
  width: 75%;
}
.item {
  height: 400px;
  width: 300px;
  cursor: pointer;
  padding: 8px;
  box-sizing: border-box;
  position: relative;
}
.item::before,
.item::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}
.item::before {
  z-index: 10;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  transform: scale3d(0, 1, 1);
}
.item::after {
  z-index: 10;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  transform: scale3d(1, 0, 1);
}
.item:hover::before,
.item:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s;
}
.item-image {
  width: 100%;
}
.item-title-container {
  position: absolute;
  width: 100%;
  display: flex;
  left: 0;
  text-align: center;
  box-sizing: border-box;
  flex-direction: column;
  padding: 8px;
  bottom: 0px;
  gap: 8px;
}
.item-title {
  font-family: 'bree-light';
  color: #333333;
  font-size: 24px;
}
.item-price {
  font-family: 'bree-light';
  color: #333333;
  font-size: 24px;
  font-weight: 600;
}
