body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
.button-default {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  font-family: 'centro-sans-pro-light', sans-serif;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
}
.button-default-hover {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  font-family: 'centro-sans-pro-light', sans-serif;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
}
.button-default-hover:hover {
  opacity: 100%;
}
.button-default-underline-hover {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: 'centro-sans-pro-light', sans-serif;
}
.button-default-underline-hover:hover {
  opacity: 100%;
}
.button-default-underline-hover:hover {
  text-decoration: none;
}
.button-default-underline {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: 'centro-sans-pro-light', sans-serif;
}
.counter-button {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.counter-button span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.button-counter-default {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 75%;
}
.button-counter-default span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.button-counter-default:hover {
  opacity: 100%;
}
.button-counter-default-disabled {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  opacity: 50%;
  cursor: no-drop;
}
.button-counter-default-disabled span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.popup-default-x {
  top: 8px;
  right: 8px;
  position: absolute;
  cursor: pointer;
}
.popup-container-default {
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: fixed;
  width: 300px;
  background-color: #f7f7f7;
  border: 1px solid #333333;
  padding: 16px;
  gap: 16px;
}
.popup-header-default {
  font-family: 'centro-sans-pro-regular', sans-serif;
  font-size: 18px;
}
.popup-text-default {
  font-family: 'centro-sans-pro-regular', sans-serif;
  font-size: 18px;
}
.popup-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.modal-default {
  background-color: #33333366;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 750px) {
  html {
    width: 100vw !important;
  }
}
.quick-buy-window {
  width: 50%;
  min-height: 50%;
  max-height: 85%;
  background-color: #f7f7f7;
  align-self: center;
  box-sizing: border-box;
  padding: 24px;
  border: 1px solid #333333;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.quick-buy-item-title {
  text-align: left;
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 24px;
}
.quick-buy-body {
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.quick-buy-image-container {
  flex: 1;
  height: 100%;
}
.quick-buy-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.quick-buy-item-descr {
  flex: 1;
}
.quick-buy-item-descr span {
  text-align: left;
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 18px;
}
.quick-buy-footer {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
  border-top: 1px solid #333333;
  padding-top: 8px;
}
.quick-buy-footer button {
  cursor: pointer;
  flex: 1;
  width: 1fr;
  background-color: #333333;
  opacity: 85%;
  padding: 8px;
  border: none;
}
.quick-buy-footer button span {
  text-align: left;
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #f7f7f7;
  font-size: 24px;
}
.quick-buy-footer button:hover {
  opacity: 100%;
  transition: 0.3s;
}
.span-link {
  text-align: left;
  font-family: 'centro-sans-pro-light', '@fontdefault';
  color: #333333;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
}
.quick-buy-item-price-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.quick-buy-item-price-container div {
  flex: 1;
}
