@font-face {
  font-family: 'bree-light';
  src: url('/src/fonts/BreeCYR-Light.woff2') format('woff2'), url('/src/fonts/BreeCYR-Light.woff') format('woff');
}
@font-face {
  font-family: 'bree-regular';
  src: url('/src/fonts/BreeCYR-Regular.woff2') format('woff2'), url('/src/fonts/BreeCYR-Regular.woff') format('woff');
}
@font-face {
  font-family: 'bree-thin';
  src: url('/src/fonts/BreeCYR-Thin.woff2') format('woff2'), url('/src/fonts/BreeCYR-Thin.woff') format('woff');
}
@font-face {
  font-family: 'centro-sans-pro-thin';
  src: url('/src/fonts/PFCentroSansPro-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-light';
  src: url('/src/fonts/PFCentroSansPro-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'centro-sans-pro-regular';
  src: url('/src/fonts/PFCentroSansPro-Regular.woff2') format('woff2');
}
body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
.button-default {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  font-family: 'centro-sans-pro-light', sans-serif;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
}
.button-default-hover {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  font-family: 'centro-sans-pro-light', sans-serif;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
}
.button-default-hover:hover {
  opacity: 100%;
}
.button-default-underline-hover {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: 'centro-sans-pro-light', sans-serif;
}
.button-default-underline-hover:hover {
  opacity: 100%;
}
.button-default-underline-hover:hover {
  text-decoration: none;
}
.button-default-underline {
  cursor: pointer;
  padding: 4px 24px;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  text-align: center;
  font-size: 18px;
  outline: 1px solid #ccc;
  border: none;
  opacity: 75%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: 'centro-sans-pro-light', sans-serif;
}
.counter-button {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.counter-button span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.button-counter-default {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 75%;
}
.button-counter-default span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.button-counter-default:hover {
  opacity: 100%;
}
.button-counter-default-disabled {
  flex: 1;
  border: none;
  background-color: #333;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  opacity: 50%;
  cursor: no-drop;
}
.button-counter-default-disabled span {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.popup-default-x {
  top: 8px;
  right: 8px;
  position: absolute;
  cursor: pointer;
}
.popup-container-default {
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: fixed;
  width: 300px;
  background-color: #f7f7f7;
  border: 1px solid #333333;
  padding: 16px;
  gap: 16px;
}
.popup-header-default {
  font-family: 'centro-sans-pro-regular', sans-serif;
  font-size: 18px;
}
.popup-text-default {
  font-family: 'centro-sans-pro-regular', sans-serif;
  font-size: 18px;
}
.popup-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
@media (max-width: 750px) {
  html {
    width: 100vw !important;
  }
}
.order-page {
  justify-content: center;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'centro-sans-pro-light', sans-serif;
  padding: 24px;
}
.order-page .o-p-title {
  font-size: 40px;
  font-weight: 600;
  padding: 16px;
}
.order-page .o-p-container {
  width: 75%;
  display: flex;
  flex-direction: row;
  min-height: 700px;
}
.order-page .o-p-items {
  padding-right: 24px;
  flex: 1;
}
.order-page .o-p-data {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 24px;
  border-left: 1px solid #ccc;
  flex: 1;
}
.order-page .o-p-contacts,
.order-page .o-p-shipment,
.order-page .o-p-user-data {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.order-page .o-p-contacts-title,
.order-page .o-p-shipment-title,
.order-page .o-p-user-data-title {
  font-size: 24px;
  font-weight: 600;
}
.order-page .o-p-checkout-container {
  flex: 1;
  align-content: flex-end;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.order-page .o-p-checkout {
  cursor: pointer;
  padding: 4px 24px;
  width: min-content;
  align-self: center;
  color: #f7f7f7;
  background-color: #333333;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-family: 'centro-sans-pro-light', sans-serif;
  text-align: center;
  font-size: 18px;
  border: none;
  outline: 1px solid #ccc;
  opacity: 75%;
}
.order-page .o-p-checkout:hover {
  text-decoration: none;
  opacity: 100%;
}
.order-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.order-items .o-i-table {
  border: 1px solid #ccc;
  width: 100%;
}
.order-items .o-i-table th {
  font-weight: 600;
  font-size: 18px;
  color: #333333;
  padding: 8px;
  border: 1px solid #ccc;
}
.order-items .o-i-table td {
  text-align: center;
  font-size: 24px;
  color: #333333;
  padding: 8px;
  border: 1px solid #ccc;
}
.order-items .o-i-table .o-i-t-sum {
  font-weight: 600;
}
.order-subtotal {
  font-family: 'centro-sans-pro-light', sans-serif;
  font-size: 24px;
  color: #333333;
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-weight: 600;
  justify-content: flex-end;
}
.order-subtotal .o-s-total-price #price {
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 24px;
}
.order-subtotal .o-s-total-price #currency {
  align-self: flex-end;
  font-family: 'centro-sans-pro-light', sans-serif;
  color: #333333;
  font-size: 18px;
}
.order-shipping-price .o-s-p-result {
  flex: 1;
}
