body {
  background: #f7f7f7;
}
.semibold span {
  font-weight: 600;
}
.pointer {
  cursor: pointer;
}
html {
  scrollbar-width: none !important;
}
@media (max-width: 750px) {
  html {
    width: 100vw !important;
  }
}
.input {
  padding: 8px 16px;
  border: 1px solid #333333;
  background-color: #f7f7f7;
  font-size: 18px;
  opacity: 85%;
}
.input:focus {
  border: 1px solid red;
  background-color: white;
}
.input:hover {
  opacity: 100%;
}
